@use "variables" as v;


@mixin contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


@mixin boton($color) {
    display: inline-block;
    padding: 12px 24px;
    background-color: $color;
    color: v.$color-blanco;
    text-decoration: none;
    border-radius: v.$radio;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        opacity: 0.9;
    }
}